<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unidades</title>

	<link href="./styles/reset.css" rel="stylesheet">
	<link href="./styles/style.css" rel="stylesheet">
	<link href="./styles/style-cabecalho.css" rel="stylesheet">
	<link href="./styles/style-footer.css" rel="stylesheet">
    <link href="./styles/unidades.css" rel="stylesheet">
    <link href="./styles/style-swiper.css" rel="stylesheet">
	<link href="https://unpkg.com/swiper/swiper-bundle.min.css" rel="stylesheet">

	<!-- Fontes-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&display=swap" 
	rel="stylesheet">

</head>
<body class="app">
    <div th:replace="~{base :: btnTop}"></div>

	<header th:replace="~{header_footer :: header}"></header>
    <div class="container-quemSomos">
        <div class="card-unidade">
        <h1>Churrascaria Trovão</h1>
        <h2>Unidades Posto Trovão Azul</h2>
        <h1>(45) 3254-3675</h1>
        <p>Rodovia br163 km274, Marechal Cândido Rondon - PR</p>
        <div class="maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1282.9109981370768!2d-54.01614785158526!3d-24.56778125545406!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x30a11887debc0a74!2sRestaurante%20Churrascaria%20e%20Lanchonete%20Trov%C3%A3o%20Azul!5e0!3m2!1spt-BR!2sbr!4v1655751768624!5m2!1spt-BR!2sbr" 
                 
                allowfullscreen="" loading="lazy" 
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
        <h2>O Local</h2>
        <ul>
            <li>Rodizio de churrasco</li>
            <li>Lanchonete</li>
            <li>Restaurante</li>
            <li>Ambiente Climatizado</li>
        </ul>
        <!--
            <div class="div-swiper">
            <div class="swiper mySwiper">
                <div class="swiper-wraper">
                    <div class="swiper-slide">
                        <img th:src="@{/styles/images/slide-images/IMG_1039.jpeg}" alt="slide"> 
                    </div>
                    <div class="swiper-slide">
                        <img th:src="@{/styles/images/slide-images/IMG_1046.jpeg}" alt="slide">
                    </div>
                    <div class="swiper-slide">
                        <img th:src="@{/styles/images/slide-images/IMG_1481.jpeg}" alt="slide">
                    </div>
                    <div class="swiper-slide">
                        <img th:src="@{/styles/images/slide-images/IMG_1562.jpeg}" alt="slide">
                    </div>
                    <div class="swiper-slide">
                        <img th:src="@{/styles/images/slide-images/IMG_1039.jpeg}" alt="slide">
                    </div>
                    <div class="swiper-slide">
                        <img th:src="@{/styles/images/slide-images/IMG_1046.jpeg}" alt="slide">
                    </div>
                
                </div>
            </div>
        </div>-->

        </div>
    </div>
    

    <footer th:replace="~{header_footer :: footer}"></footer>

	<div th:replace="~{base :: script}"></div>
    
</body>
</html>