.container-quemSomos{
    background-color: #EFEFEF;
    display: flex;
    height: 100%;
    width: 100%;
    
}

.card-quemSomos{
    background-color: #0A0D12;
    display: flex;
    height: 967px;
    margin-top: 90px;
    width: 100%;
    flex-direction: column;
}

.card-quemSomos h1{
    margin-left: 64px;
    margin-top: -17px;
    background-color: #BB9065;
    color: #0A0D12;
    width: 272px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.card-quemSomos p{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-left: 20%;
    margin-right: 20%;
    color: #BB9065;
    font-size: 25px;

}