* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.app {
    display: grid;
    grid-template-areas: 
        "cabecalho"
        "container-conteudo"
        "rodape";
    grid-template-columns: auto;
    grid-template-rows: 60px auto auto;
    font-family: 'Dosis', sans-serif;    font-style: normal;
}

.cabecalho{
    align-items: center;
    background-color: #0A0D12;
    grid-template: "cabecalho";
}

.container-conteudo{
    grid-area: container-conteudo;
    width: 100%;
    
}

.conteudo{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    
}
/* ---Info cards*/
.conteudo-secundario:nth-child(2){
    background-color: #0A0D12;
    grid-column: 1 / 5;
    grid-row: 3 / 3;
    height: 600px;
    
}

.lista{
    height: 100%;
    width: 100%;
    display: flex;
    padding-top: 150px;
}

.lista-item {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items:center;
    font-size: 22px;
}

.lista-item h1{
    color: #EBD503;
    letter-spacing: 3px;
}

.lista-item p{
    color: #BB9065 ;
    text-align: center;
    line-height: 30px;
    letter-spacing: 3px;
    margin-top: 15%;
    width: 80%;
}

/* -- Terceia linha*/
.conteudo-secundario:nth-child(3){
    grid-column: 1 / 5;
    grid-row: 4 / 4;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    background: linear-gradient(0deg, rgba(115,24,3,0.87), rgba(115,24,3,0.87)), url('/styles/images/area-interna.jpg') 
        no-repeat center;
    background-size: cover;
    height: 338px;
    
}
#myBtn{
    height: 60px;
    width: 60px;
    display: none;
    position: fixed;
    bottom: 50px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
    background: url('/styles/images/icons/up-arrow.png') center;
    background-size: cover;
}

@media (max-width: 990px){

    .conteudo-secundario:nth-child(2){
        height: 700px;
    }
    .conteudo-secundario:nth-child(2) .lista{
        flex-wrap: wrap;
    }
    .conteudo-secundario:nth-child(2) .lista-item p{
        margin-top: 10px;
    }
}

@media (max-width: 800px){

    .conteudo-secundario:nth-child(2){
        height: min-content;
    }
    .conteudo-secundario:nth-child(2) .lista{
        padding-top: 40px ;
        flex-wrap: wrap;
    }
    .conteudo-secundario:nth-child(2) .lista-item {
        width: 70%;
        margin-bottom: 40px;
    }

    
}
@media (max-width: 700px){
    .conteudo-secundario:nth-child(2) .lista-item{
        width: 100%;
    }
    .conteudo-secundario:nth-child(3){
        height: 200px;
    }

    .galeria .blur .card-galeria .card{
        width: 280px;
        height: 62px;
    }

    .galeria .blur .card-galeria .card p {
        font-size: 24px;
        letter-spacing: 3px;
    }
}
@media (max-width: 500px){

    .conteudo-secundario:nth-child(2) .lista-item {
        font-size: 25px;
        width: 100%;
    }
    .conteudo-secundario:nth-child(2) .lista-item h1{
        font-size: 29px;
        letter-spacing: 0.5px;
    }
    .conteudo-secundario:nth-child(3){
        height: 200px;
    }
}
@media (max-width: 390px){

    .conteudo-secundario:nth-child(2) .lista-item p{
        font-size: 35px;
        width: 80%;
    }
    
}