.rodape{
    grid-area: rodape;
    background-color: #191919;
    display: grid;
    grid-template-columns: 20% 30% 50%;
    height: calc(100% + 40px);  
    grid-template: rodape;
}
.contato{
    grid-column: 1 / 3;
    height: 100%;
}
.redes-sociais{
    grid-column: 3 / 3;
    height: 100%;
}
.lista__contato, 
.lista__rede_social {
    margin-top: 50px;
    margin-left: 10%;
    list-style: none;
    color: aliceblue;
}
.contato-item img{
    filter: invert(100%);
    width: 35px;
    margin-right: 6px;
}
.contato-item{
    align-items: center;
    display: flex;
    margin-top: 10px;  
    font-size: 22px;
    letter-spacing: 3px;
    font-weight: lighter;
}

.contato-item:first-child{
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 40px;
}

@media (max-width: 1000px){
    
    .lista__contato,
    .lista__rede_social{
        margin-top: 0;
    }
    .contato .contato-item,
    .redes-sociais .contato-item{
        font-size: 18px;
        letter-spacing: 2px;
    }
    .contato .contato-item img,
    .redes-sociais .contato-item img{
        width: 28px;
    }
}

@media (max-width: 620px){
    .redes-sociais{
        grid-column: 1 / 3;
    }
    .contato-item:first-child{
        margin-bottom: 23px;
    }
}
