
.navbar {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #0A0D12;
}
    .navbar-links {
        height: 100%;
    }    
    .navbar-links ul {
        display: flex;
        margin: 0;
        padding: 0;
    }
    
    .navbar-links li {
        list-style: none;
    }    
    .navbar-links li a {
        display: block;
        text-decoration: none;
        color: #BB9065;
        font-size: 22px;
        padding: 1rem;
    }
    .navbar-links a:hover {
        color: white;
    }  
    .navbar-links a:focus {
        color: white;
    }
    .toggle-button {
        position: absolute;
        top: 20px;
        left: 2rem;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
    }    
    .toggle-button .bar {
        height: 3px;
        width: 100%;
        background-color: white;
        border-radius: 10px;
    }
    @media (max-width: 576px){
        header{
            background-color: #0A0D12;  
        }
        .navbar {
            background-color: #0A0D12;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            height: unset;
        }
    
        .toggle-button {
            display: flex;
        }
    
        .navbar-links {
            display: none;
            width: 100%;
        }
    
        .navbar-links ul {
            width: 100%;
            flex-direction: column;
        }
    
        .navbar-links ul li {
            text-align: center;
        }
    
        .navbar-links ul li a {
            padding: .5rem 1rem;
        }
    
        .navbar-links.active {
            display: flex;
        }
    }
    